@font-face {
  font-family: 'ChirpRegular';
  src:  url('/src/fonts/chirpregular.woff') format('woff');  
}

@font-face {
  font-family: 'ChirpBold';
  src:  url('/src/fonts/chirpbold.woff') format('woff')
}

/* @font-face {
  font-family: 'ChirpHeavy';
  src:  url('/src/fonts/chirp-heavy-web.woff') format('woff')
}

@font-face {
  font-family: 'ChirpMedium';
  src:  url('/src/fonts/chirp-medium-web.woff') format('woff')
}  */



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ChirpRegular';
}


.loginlogo{  
  height: 100px;
  width: 100px;  
}

.homelogo{
  height: 25px;
  width: 25px;
  cursor: pointer;
}

img{
  cursor: pointer;
}

.Home, .ViewTweet{
  margin: 0 0 90px 0;
}

.userlogo{
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

p{
  font-size: 14px;
  line-height: 19px;
}

h1{
  text-align: center;
  font-family: 'ChirpBold';
}

#root{
}

.login{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}



.nav{
  
  position: sticky;
  top: 0px;
  background-color: white;
  padding: 15px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}

.shadow{
  box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, .5);
}

.scale-up-center>img {
  transform: scale(1.1);
  transition: 100ms;
}



.tweet{
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto auto auto;
  grid-auto-rows: auto;
  padding: 12px;
  border-bottom: 1px solid rgb(239, 243, 244);
}


.verifiedlogo{
  width: 16px;
  height: 16px;
}


.backsvgdiv{
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tweettext{
  text-justify: center;
  font-size: 15px;
  line-height: 20px;
}

.smalllogosdiv{
  width: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 3px;
  white-space: nowrap;
}



.backsvg{
  height: 20px;
  width: 20px;
}

.font13{
  font-size: 13px;
  color: rgb(83, 100, 113);
}

.font14{
  font-size: 14px;
  color: rgb(83, 100, 113);
}

.font15{
  font-size: 15px;
  color: rgb(83, 100, 113);
}

.tweetuserimg{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  grid-row: span 4;  
}

.quotetweetuserimg{
  height: 20px;
  width: 20px;
  border-radius: 100%;
}



.replyform{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 8px 12px;
  align-items: center;
  border-bottom: 1px solid rgb(239, 243, 244);
}

.replyform>input{
  border: none;
  font-size: 20px;
  text-justify: center;
  max-width: 230px;
}

.replyformbig{
  display: grid;
  grid-template-columns: .8fr 5fr 1.6fr;
  grid-template-rows: auto auto auto ;
  gap: 10px;
  padding: 8px 12px;
  align-items: center;
  border-bottom: 1px solid rgb(239, 243, 244);
}


.commentinputbig{
  border: none;
  font-size: 20px;
  text-justify: center;
  max-width: 230px;
  border: none;
}

.commentinputbig:focus{
  outline: none;
}

.writetweet{
  display: grid;
  grid-template-columns: .8fr 5fr 1.6fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  padding: 8px 12px;
  border-bottom: 1px solid rgb(239, 243, 244);
}


.tweetinput{
  border: none;
  font-size: 20px;
  text-justify: center;
  border: none;
}

.tweetinput:focus{
  outline: none;
}

.span3rows{
  grid-row: span 3;
}

.span2cols{
  grid-column: span 2;
}

.span3cols{
  grid-column: span 2;
}

.span3col{
  grid-column: span 3;
}

p.span3col{
  text-align: center;
}

.span4cols{
  grid-column: span 3;
  position: relative;
}

.addimagelabel{
  background-color: white;
  display: flex;
  gap: 10px;
  white-space: nowrap;
  align-items: center;
}

input[type=file] {
  z-index: -1;
  width: 0px;
}

.addimageimage{
  max-width: calc(100% - 50px);
  max-height: 100%;
  border-radius: 16px;
  margin-left: 50px;
}

.onehund{
  width: 100%;
  max-height: 48vh;
  object-fit: contain;
}



.removeimgsvgdiv{
  position: absolute;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  left: 54px;
  top: 4px;
}

.removeimgsvgsvg{
  width: 18px;
  height: 18px;
}

.everyone{
  height: 24px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(207, 217, 222);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  max-width: 108px;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  font-family: "ChirpBold";
  gap: 5px;
}

.everyonecanreply{
  height: 24px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  font-family: "ChirpBold";
  gap: 5px;
  margin-top: 10px;
  padding: 8px 12px;
}

.lowopacity{
  opacity: .5;
}

.width28{
  min-width: 24px;
}

.replybutton{
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 15px;
  height: 34px;
  width: 75px;
  border: none;
  border-radius: 17px;
  font-family: "ChirpBold";
}

h4{
  font-family: "ChirpBold";
}

.toptweetdiv{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.toptweetdiv2{
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 5px;
  align-items: center;
}

.nametimetweet{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  
  
}

.nametimetweet>*{
  align-self: center;
  justify-self: center;
  white-space: nowrap;
  overflow: hidden;
}

.timedif{
  color: rgb(83, 100, 113);
  line-height: 18px;  
}

.graycolor{
  color: rgb(83, 100, 113)
}
.replyingto{
  display: flex;
  justify-self: center;
  gap: 5px;
}

.timedif2{
  margin-top: -8px;
}

.bottweetdiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-column: span 1;
}

.spanone{
  grid-column: span 1;
}

.bottweetdiv2{
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  justify-content: space-around;
  margin-top: -8px;
    padding: 10px 0px;
}



.smalllogos{
  height: 19px;
  width: 20px;
}

.smalllogos2{
  height: 22px;
  width: 22px;
}



.margin50{
  margin: 5px 0;
}


.singletweet{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 10px;
  padding: 15px 15px 0;
}


.singletweettext{
  font-size: 17px;
  line-height: 24px;
  margin-top: -8px;
  padding: 1px 0px;
}

.singletweetname{
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: "ChirpBold";
}

.tweetuserimgsingle{
  grid-row: span 2;
}

.tweetuserimgsingle2{
  grid-row: span 1;
  align-self: baseline;
}


.spantwocolumn{
  grid-column: span 2;
}

.finaldate{
  font-size: 15px;
  color: rgb(83, 100, 113);
  margin-top: -8px;
    padding: 10px 0px;
}

.overlay{
  background-color:rgba(0,0,0,0.4);
  height: 100vh;
  height: 100svh;
  
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}



.quotetweet{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 16px;
  width: 100%;
  padding: 12px;
  gap: 5px;

}

.typeofquotediv{
  background-color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.border16{
  border-radius: 16px;
  object-fit: cover;
}

.cancelquote{
  background-color: white;
  height: 44px;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 100px;
}

.onehund2{
  width: calc(100% + 24px);
  max-height: 190px;
  object-fit: contain;
}

.border17{
  object-fit: cover;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin: 5px -12px -12px;
}

.viewimageimg{
  max-width: 100%;
  object-fit: contain;
}

.viewimagediv{
  background-color: black;  
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addtweetbutton{
  background-color: black;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px, rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;
  cursor: pointer;
}

.addtweetbutton>*{
  height: 24px;
  width: 24px;
}

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}

span.icon {
  background: url('https://developers-dot-devsite-v2-prod.appspot.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

.hover:hover{
  cursor: pointer;
}

.smalllogosdiv{
  cursor: pointer;
}


@media only screen and  (width > 760px){
  #root{
    margin: 0 35vw;
    border: 1px solid rgb(239, 243, 244);;
  }
  .addtweetbutton{
    left: 67vw;
    bottom: 5vh;
    width: 84px;
    height: 84px;
    cursor: pointer;
  }
  .addtweetbutton>*{
    height: 36px;
    width: 36px;
  }
  .replyform{
    width: 100%;
    justify-content: space-between;
  }
  .replyform>input{
    width: 70%;
    max-width: none;
  }
  .commentinputbig {
    border: none;
    font-size: 20px;
    text-justify: center;
    max-width: none;
    border: none;
  }
  .addimagelabel{
    cursor: pointer;
  }
  .overlay{
    display: flex;
    justify-content: center;
  }
  .typeofquotediv{
    background-color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    width: 30%;
    justify-self: center;
    align-self: center;

  }
}